//-cancel
section.cancel
    .wrapper
        .cancel-inner
            h3.page-title.page-title-h3 Cancel Page
            .cancel__img
                img(src="../assets/images/error.webp", alt="cancel")
            .cancel__back
                a.page-btn.page-btn_blue(href="/") back on Main page