extends ../../pug/templates/template
block base
    base(href="../")
block title 
    title Success
 
block content
   
    main.page.page-success
        include ../../components/success/success.component.pug
