//-get-acquainted
section.get-acquainted
    .wrapper
        .get-acquainted-inner
            .get-acquainted-massage
                .get-acquainted-massage__icon 
                    img(src="../assets/images/Avatar.svg", alt="Avatar")

                .get-acquainted-massage__text
                    p.text I am Mia a virtual psychologist. I was created for you to learn to understand and manage your emotions.
                        | <br>Communicating with me is an opportunity to better understand yourself and receive support at any time.
                        | <br> Every minute you experience emotions, and that's okay. Emotions guide us and shape a mature personality. 
                        | <br> However, they can be complex. It often happens that a person may struggle to cope with or understand their feelings and emotions. But they don't simply disappear.
                        | <br> They accumulate, like a snowball, turning into an avalanche that begins to control you. And this can make life very difficult!



