/*get-acquainted*/
.get-acquainted
    +md-block
        padding: 100px 0
    &-massage
        
        +size-md(8)
     
        margin: 0 auto
        border-radius: 8px
        box-shadow: 0px 4px 48px 0px rgba(39, 49, 63, 0.1)
        padding: 10px
        min-height: 540px

        +md-block
            padding: 60px 40px

        &__icon
            flex-basis: 100%
            img
                width: 60px
            +md-block
                flex-basis: 10%
        &__text
            color: #fff
            background: #2778F1
            padding: 20px 30px
            font-size: 16px
            display: inline-block
            margin-bottom: 10px
            border-radius: 30px 30px 30px 0
            max-width: 100%
            +md-block
                max-width: 50%
            bor
            +md-block
                flex-basis: 90%
            p
                padding-bottom: 10px

