extends ../../pug/templates/template
block base
    base(href="../")
block title 
    title Answer Mia
block content
   
    main#app.page.page-answer 
        include ../../components/header/header.component.pug
        include ../../components/answer-page/answer-page.component.pug


block append script 
    script(src="/js/debuggrid/debuggrid.component.js")
    script(src="/js/header/header.component.js")