//-callback
section.callback
    .wrapper
        .callback-inner
            .callback__avatar
                img(src="../assets/images/MIA.webp", alt="Avatar")
            include ../form/form.component.pug
            +form

                    
