//-info-block
section.info-block
    .wrapper
        .info-block-inner
            .info-block__title
                h1.page-title.page-title-h1 Your mental health is the of everything
                p.page-text Each sphere of your life primarily depends on our state and self-awareness. Healthy relationships, engaging work, and a good income - all of these are reflections of our well-being.
            .info-block__image
                img(src="../assets/images/img-block-1.png", alt="img")
            .info-block__text
                h2.page-title.page-title-h2 If you are here, it's not just a coincidence.
                p.page-text This is an opportunity to break free from everything that drains your valuable energy and strength.
                p.page-text Break free from anxiety, depression, endless thoughts, and guilt. Let go of everything that resides deep within, barely noticeable, or anything that simply weighs you down.
