//-thank-you

section.thank-you
    .warapper
        .thank-you-inner
            .thank-you-content
                .thank-you__img 
                    img(src="../assets/images/MIA.webp", alt="Avatar")
                .thank-you__text
                    h2.page-title.page-title-h2 Thank you for your confidence
                    p.page-text Now check your mail. If you don't find the email in your inbox, check SPAM folder