extends ../../pug/templates/template
block base
    base(href="../")
block title 
    title Error
 
block content
   
    main.page.page-error
        include ../../components/error/error.component.pug
