//-banner
section.banner.banner-about 
    .wrapper
        .banner-inner 
            .banner__text
                h2.page-title.page-title-h2 Thank you for opening up
                
                .banner__advantages
                    .banner-advantages-item.banner-advantages-item_full 
                        h3.page-title.page-title-h3 Please make sure to read this letter to the end
                    .banner-advantages-item
                        .banner-advantages-item__icon 
                            img(src="../assets/images/CheckCircle.svg", alt="CheckCircle")
                        .banner-advantages-item__text
                            p.page-text Today, you took a very significant step towards self-discovery by sharing something important and valuable.  There is nothing more valuable than sincerity.
                    .banner-advantages-item
                        .banner-advantages-item__icon 
                            img(src="../assets/images/marketing.svg", alt="marketing")
                        .banner-advantages-item__text
                            p.page-text At the end of this letter you will receive support on your story and commentary from  virtual psychologist, as well as take the second step that will help you figure out the problem...


            .banner__image
                img(src="../assets/images/img-banner.png", alt="banner img")

            .banner__title
                h2.page-title.page-title-h2 Let's get acquainted
