//-error
section.error
    .wrapper
        .error-inner
            h3.page-title.page-title-h3 Error Page
            .error__img
                img(src="../assets/images/error.webp", alt="error")
            .error__back
                a.page-btn.page-btn_blue(href="/") back on Main page