extends ../../pug/templates/template
block base
    base(href="../")
block title 
    title Cancel
 
block content
   
    main.page.page-cancel
        include ../../components/cancel/cancel.component.pug
