+reset()
/* __reset__ */
/* __base__ */
.wrapper
  +wrapper()

+scrollbar($color_scrollbar-track, $color_scrollbar-thumb)

@font-face
  +font(Inter, Inter-Regular)

@font-face
  +font(Inter, Inter-Bold)

body
  font-family: Inter-Regular
  background: #fff
  // display: flex
  // flex-direction: column
  // justify-content: space-between
  // min-height: 100vh

a, button
  cursor: pointer
  text-decoration: none
  &:focus
    outline: none

input
  cursor: text
  &:focus
    outline: none

/* __base__ */
