header.header
    .wrapper
        .header-inner
            a.header__logo(href="/")
                include ../../assets/images/Logo.svg
            .header__link
                .link
                    img(src="../assets/images/support.svg", alt="support")
                    spna support