header.header
    .wrapper
        .header-inner
            a.header__logo(href="/")
                picture
                    img(src="../../assets/images/Avatar.svg", alt="Logo")
            .header__link
                .link
                    img(src="../assets/images/support.svg", alt="support")
                    span support