header.header
    .wrapper
        .header-inner
            a.header__logo(href="/")
                img(src="../assets/images/Logo.svg", alt="logo")
            .header__link
                .link
                    img(src="../assets/images/support.svg", alt="support")
                    spna support