//-success
section.success
    .wrapper
        .success-inner
            h3.page-title.page-title-h3 Success Page
            .success__img
                img(src="../assets/images/success.webp", alt="success")
            .success__back
                a.page-btn.page-btn_blue(href="/") back on Main page