//-subscription
section.subscription
    
    .wrapper
        .subscription-inner
            h3.page-title.page-title-h3 Get subscribe
            #paypal-button-container
    script(src="../js/subscription/subscription.component.js") 