doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author" content="tg@gromov_ilia")
        link(rel="icon", type="image/x-icon",  href="assets/img/favicon.ico")
        block base
        block title
        block style
            link(rel="stylesheet", href="css/base-styles.css", type="text/css")
            link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.5/dist/vuetify.min.css" )
            //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vue-select/3.20.2/vue-select.css" )
        
        block headScript
            script(src="https://cdn.jsdelivr.net/npm/vue@3.2.36/dist/vue.global.js")
            script(src="https://cdn.jsdelivr.net/npm/vuetify@3.1.5/dist/vuetify.min.js")
            //- script(src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/3.20.2/vue-select.js") 

        block socialMetaTags

    body
        //- include ../variables/useVariables
        //- include ../data/useDataJSON
        
        block content
        block style
            //- link(rel="stylesheet", href="css/viewport/mobileFirst-"+viewportWidth+"px.css", type="text/css")

            link(rel="stylesheet", href="css/styles-calc.css", type="text/css")
            link(rel="stylesheet", href="css/styles-sprites.css", type="text/css")
            //- each breakPoint in breakPoints
            //-     link(rel="stylesheet", type="text/css" , media="screen and (min-width:"+breakPoint.width+"px)",  href="css/viewport/media/"+breakPoint.width+"/"+breakPoint.width+"px.css")
        
        block script
            script(src="js/main.js")