extends ../../pug/templates/template
block base
	base(href="../")
block title
	title About Mia
block append style
block content
	include ../../components/about-page/about-page.component.pug
block append style


block append script